                body {
                    background-color: #1E1E1E;
                    max-width: 1360px;
                    margin: 0 auto;
                }
                
                header {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                
                .menu_principal {
                    width: 621px;
                    left: 750px;
                }
                
                .menu_principal ul li {
                    list-style: none;
                }
                
                .menu_principal ul li a {
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 20px;
                    color: #FFFFFF;
                    float: left;
                    margin-right: 10px;
                    text-decoration: none;
                    padding-top: 80px;
                }
                
                .menu_principal ul li a:hover {
                    color: #C21E6F;
                }
                
                .menu_principal a#menu_rosa {
                    background-color: #C21E6F;
                    padding-top: 80px;
                }
                
                .menu_principal a#menu_rosa:hover {
                    color: #1E1E1E;
                }
                
                .banner {
                    width: 100%;
                    display: flex;
                    border-bottom: #C21E6F 4px solid;
                    padding: 141px 0px 0px 0px;
                }
                
                .banner h1 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 90px;
                    line-height: 109px;
                    color: #FAFAF9;
                    width: 883px;
                    height: 340px;
                }
                
                .banner img {
                    width: 50%;
                }
                
                .banner p {
                    font-family: 'Inter';
                    font-style: normal;
                    letter-spacing: 0.5px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(239, 237, 232, 0.65);
                    width: 599px;
                    height: 72px;
                }
                
                a#btn_banner {
                    justify-content: center;
                    width: 229px;
                    display: flex;
                    align-items: center;
                    padding: 24px 25px;
                    gap: 10px;
                    border-radius: 10px;
                    background: #C21E6F;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 29.5px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #FFFFFF;
                }
                
                a:hover#btn_banner {
                    background-color: #737373;
                }
                
                .contato_treinadores {
                    width: 100%;
                }
                
                .todos_treinadores {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    padding: 0px 0px 141px 0px;
                }
                
                .contato_treinadores h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 22px;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 1px;
                    color: #FFFFFF;
                }
                
                .contato_treinadores p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;
                    letter-spacing: 0.5px;
                    color: #FFFFFF;
                }
                
                a#btn_contato {
                    justify-content: center;
                    display: flex;
                    width: 665px;
                    padding: 30px;
                    background: #C21E6F;
                    border-radius: 10px;
                    margin-left: auto;
                    margin-right: auto;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #FFFFFF;
                }
                
                a:hover#btn_contato {
                    background-color: #737373;
                }
                
                .blog {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    padding: 141px 0px 50px 0px;
                }
                
                .blog h2 {
                    width: 526px;
                    height: 150px;
                    left: 111px;
                    top: 2121px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 35px;
                    line-height: 50px;
                    letter-spacing: 0.3px;
                    color: #FAFAF9;
                    text-transform: uppercase;
                }
                
                .blog h3 {
                    width: 591px;
                    height: 100px;
                    left: 749px;
                    top: 2795px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 35px;
                    line-height: 50px;
                    letter-spacing: 0.3px;
                    color: #FAFAF9;
                    text-transform: uppercase;
                }
                
                .blog p {
                    width: 480px;
                    height: 120px;
                    left: 114px;
                    top: 2301px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.3px;
                    color: rgba(239, 237, 232, 0.65);
                }
                
                .blog h6 {
                    width: 523px;
                    height: 120px;
                    left: 749px;
                    top: 2987px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.3px;
                    color: rgba(239, 237, 232, 0.65);
                }
                
                .blog img {
                    width: 560px;
                    height: 539px;
                    left: 706px;
                    top: 2080px;
                }
                
                .blog a {
                    color: #C21E6F;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    letter-spacing: 0.3px;
                    text-decoration: none;
                }
                
                .fotos2 {
                    padding: 80px 0px 0px 0px;
                }
                
                .grid_blogs2 {
                    padding: 40px 0px 0px 0px;
                }
                
                .geo h2 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    padding: 50px 0px 0px 0px;
                }
                
                .geo img {
                    padding: 0px 0px 30px 0px;
                }
                
                .final {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                }
                
                footer {
                    padding: 50px 0px -50px 0px;
                }
                
                footer p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    color: rgba(255, 248, 248, 0.65);
                }
                
                footer h3 {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.5px;
                    color: #FFF8F8;
                }
                
                .grid_contato {
                    display: flex;
                    gap: 15px;
                }
                
                a#btn_final {
                    justify-content: center;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 24px 25px;
                    gap: 10px;
                    width: 215px;
                    background: #C21E6F;
                    border-radius: 10px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #FFFFFF;
                }
                
                a:hover#btn_final {
                    background-color: #737373;
                }
                
                .coluna3 img {
                    padding: 0px 10px;
                }